body {
	// background-color: #363636;
	background-image: url("x-background.png");
	background-repeat: repeat;
	background-size: 400px;
	margin: 0;
	padding: 0;
	color: white;
	// height: 100%;
	// display: flex;
}

.name {
	font-family: "Varela", sans-serif;
	font-size: 9rem;
	&.first {
		.ma {
		}
		.x {
			font-size: 12rem;
			font-weight: bold;
		}
	}
	&.last {
		.r {
			font-size: 12rem;
			font-weight: bold;
		}
		.andle {
		}
	}
}
